<!DOCTYPE html>
<html lang="en">
  <head>
      <title>HubScheduler</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!--Requirement jQuery-->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <!--Load DateTimePicker Script and Stylesheet -->
      <script type="text/javascript" src="../static/jquery.simple-dtpicker.js"></script>
      <link type="text/css" href="../static/jquery.simple-dtpicker.css" rel="stylesheet" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
<body>
    <div class="container">
        <div class="col-md-12" style="margin: 20px;">
            <p style="font-size:20px;">Enter the in the time block you would like to search for availability for below: </p>
            <form method="POST" action="">
                {{form.time_start.label}}: {{ form.time_start(size=16, value=default_time) }}
                <br />
                {{form.time_end.label}}: {{ form.time_end(size=16, value=default_time) }}
                <script type="text/javascript">
                    $(function(){
                        // Handle creation and destruction of date pickers
                        // We update datepickers as necessary to make sure negative time periods can"t be selected
                        // NOTE we are using "#ID" instead of "*[name=]" selectors in this example to ensure we have the correct field
                        $("#time_end").change(function() {
                            $("#time_start").handleDtpicker("destroy");
                            $("#time_start").appendDtpicker({
                                "minuteInterval": 15,
                                "closeOnSelected": true,
                                "calendarMouseScroll": false,
                                maxDate: $("#time_end").val() // when the end time changes, update the maxDate on the start field
                            });
                        });
                        $("#time_start").change(function() {
                            $("#time_end").handleDtpicker("destroy");
                            $("#time_end").appendDtpicker({
                                "minuteInterval": 15,
                                "closeOnSelected": true,
                                "calendarMouseScroll": false,
                                minDate: $("#time_start").val() // when the start time changes, update the minDate on the end field
                            });
                        });

                        // trigger change event so datapickers get attached
                        $("#time_end").trigger("change");
                        $("#time_start").trigger("change");
                    });
                </script>
                <br />
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>

    <!-- More BootStrap Crap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>

